@page "/"

<PageTitle>Квітка - Dutch Quality</PageTitle>

<section class="home-page">
    <article class="home-intro">
        <img class="home-intro-image" src="images/3.webp" alt="Асортимент посадкового матеріалу"/>
        <div class="home-intro-copy">
            <p class="home-intro-text">
                Ми — українське підприємство по продажу посадкового матеріалу та декоративних рослин.
            </p>
            <p class="home-intro-text">
                Нідерланди, які відомі за свої квітучі поля, є головним постачальником нашої продукції. Цибулини тюльпанів,
                бульби кал та живеців
                гейхери — це лише мала частка різноманіття, яке ми пропонуємо вам.
            </p>
            <p class="home-intro-text">
                На нашому сайті можна подивитися асортимент, ознайомитися з останніми подіями.
                Зв'язатись з нами можна через електронну пошту, месенджер або по телефону.
            </p>
        </div>
    </article>

    <div class="home-bottom-image-wrap">
        <img class="home-bottom-image" src="images/schip.webp" alt=""/>
    </div>
</section>
