@inject IJSRuntime JsRuntime
@implements IAsyncDisposable

<div class="quill-editor" style="--kwytka-editor-min-height:@MinHeight">
    <div class="quill-editor__content" @ref="_editorElement"></div>
</div>
